@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  width:100%;
  height:100%;
  overflow:hidden;
}

body{
  background-image:url('image/background1.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.wrapper{
  width:100%;
  max-width:500px;
  padding:20px;
  text-align:center;
}

.wrapper h1{
  font-size:6vw;
  font-family:'Lobster', cursive;
  color:#fff;
  margin-bottom:20px;
}

.box-time{
  display:flex;
  justify-content:space-between;
  gap:10px;
}

.time{
  flex:1;
  aspect-ratio:1/1;
  background:red;
  border-radius:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  box-shadow:0 0 10px #fff;
}

.time::before{
  content:'';
  position:absolute;
  width:70%;
  height:70%;
  border:6px solid yellow;
  border-radius:50%;
}

.time p{
  font-size:4vw;
  font-family:'Caramel', cursive;
}

.time span{
  font-size:5vw;
  font-family:'Fredoka One', cursive;
}